* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 2px red solid;
}

body {
	background-color: burlywood;
}

.grid-container {
	max-width: 480px;
	max-height: 480px;
	width: 480px;
	height: 480px;
}

.row-div {
	display: flex;
	max-width: fit-content;
}

.cellDiv {
	width: 16px;
	height: 16px;
}

.black-div {
	background-color: black;
}
