* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 2px red solid;
}

body {
	background-color: burlywood;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 480px;
	max-height: 480px;
}

.row {
	width: 30px;
	height: 30px;
}
.row-even {
	background-color: bisque;
}

.row-odd {
	background-color: darkred;
}

.black-div {
	background-color: black;
}
